.logo-container-2{
    z-index: 0;
    width: 569px;
    height: 300px;
    position: absolute;
    top: 31%;
    bottom: 0;
    right: 15%;

    .solid-logo-2{
        width: 280px;
        height: 370px;
        border-radius: 5%;
    }
    
}